/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif sans-serif;
}



/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;

}
body {
    background-color: #fbfbfb;
    font-size: 18px;
    line-height: 1.2;  
}

header {
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    background-color: #78909c;
    box-shadow: 0 4px 5px #cfc8c8;
    left: 0;
    top: 0;
}


.logo img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    

    
}


.menu{
    display: flex;
    align-items: center;

}

.menu li{
    font-weight: 600;
    padding: 15px;


}
.abrirMenu{
    display: none;

}

.cerrarMenu{
    display: none;

}

.menu a:hover{
    color: white;
    box-shadow: 5px 15px 15px rgba(0,0,0,-35)
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
/*main {
    max-width: 1260px;
    display: flex;
}*/

#inicio{
    margin-top: 150px;
    margin-bottom: 150px;
    
}



#inicio img{
    display: flex;
    border-radius: 50%;
    width: 400px;
    align-items: center;
    text-align: center;
    margin: auto;

}

.parrafo{
    display: flexbox;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
    padding: 15px;
    
}

h1{
    text-align: center ;
    font-size: 36px;
    color: #0f0f0f;
    justify-content: center;
    margin-bottom: 40px;
}



.descarga{
    display: flex;
    height: 30px;
    width: 195px;
    justify-content: center;  
    align-items: center;
    background-color: #af599b;
    border-radius: 20px;
    color: #fbfbfb;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 160px;
    box-shadow: 5px 15px 15px rgba(0,0,0,-35);
    transition: .3s ease;
}

.descarga a:hover{
    transform:translate (-3px) scale(1.05);
    box-shadow: 0 0 157px rgb(202, 94, 112),
                0 0 45px rgb(202, 94, 112),
                0 0 75px rgb(202, 94, 112),
                0 0 115px rgb(202, 94, 112);

}

#contacto{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flexbox ; 
    border-radius: 10px;
    background-color:rgba(175,89,158,0.3);
    color: #0f0f0f;
    margin-top: 30px;
    padding: 30px;
    
}
#contacto p{   
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; 
    padding: 4px;
}

.titulo{
    text-align: center;
    justify-content: center;
    font-size: 28px;
}

#contacto .fa-house{
    display: flex;
    color: blue;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;

}

#contacto .fa-phone{
    display: flex;
    color:  cornflowerblue;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;

}
#contacto .fa-whatsapp{
display: flex;
    color: rgb(17, 207, 17);
    font-size: 40px;
    text-align: center;
    justify-content: center;
}

.rs{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color:darkblue ;
    transform: translate(-50,-50);
}  

.rs ul li{
    display: inline-block ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

.rs u li a i{
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0,0,0,-25);
    transition: .3s ease;


}
footer{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #af599b;
    color: #fbfbfb;
    text-align:center;
    padding: 30px;
}

:root{
    --email: #e4405f;
    --linkedin: #007785;
    --github: #1a61e6;
}

.rs ul li a{
    transform: translate3d (-3px) scale(1.05);
    box-shadow: 0 5px 5px 10px white;
    border-radius: 10px;
}

.rs ul li .email:hover{
    background: var(--email);
    box-shadow: 0 0 15px var(--email),
                0 0 45px var(--email),
                0 0 75px var(--email),
                0 0 115px var(--email);
}

.rs ul li .github:hover{
    background: var(--github);
    box-shadow: 0 0 15px #1a61e6,
                0 0 45px #1a61e6,
                0 0 75px #1a61e6,
                0 0 115px #1a61e6;
}
.rs ul li .linkedin:hover{
    background: var(--linkedin);
    box-shadow: 0 0 15px #007585,
                0 0 45px #007585,
                0 0 75px #007585,
                0 0 115px #007585;
}
/************************************
*** Aplicacion de las media query****
*************************************/

@media (max-width: 600px) {
    
    #inicio{
        background-color: #1a61e6;
        margin-top: 0;
    }
    #inicio img{
        border-radius: 50%;
        width: 300px;
        justify-content: center;
        align-items: center; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    header{
        background-color: #4ca4ec;
    }



    .menu{
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        color: white;
        opacity: 1;
        height: 100%;



     
    }
    
    .menu li{
        font-weight: 600;
        padding: 0;
        line-height: 30px;
        

    /*.menu a{
        align-items: center;
        text-align: center;
    }*/

    }
    .abrirMenu,.cerrarMenu{
        border: none;
        align-self: flex-end;
        display: block;
        /*opacity: 0.5;
        transition: opacity 0,5;
        color: gray;*/

    }    
    .abrirMenu img{
        height: 30px;
        width: 30px;
        align-self: flex-end;
    
    }

        .cerrarMenu img{
        height: 30px;
        width: 30px;
        padding: 15x 20px;
        align-self: flex-end;
    }
    
}